<div class="container">
    <div class="row justify-content-center">
        <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
            <div class="card ">
                <div class="card-body ">
                    <div class="row">.
                        <div class="col" >
                            <img src="../../../assets/Frontend_survapp_src_assets_images_error-icon.jpeg" class="errorimage" alt="error-pic" width="200" height="200">
                        </div>
                        <div class="col">
                            <h2 style="margin-top:60px;">Error<br>404</h2>
                        </div>
                    </div> 
                    <div class="message">
                        <p>The page you are looking for might have been removed its name changed or is temporarily unavailable.
                            <a routerLink='/products' >Back to homepage</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
