
h2 {
    font-family: 'Chango', cursive;
    font-size: 2em;
    color: #222;
    font-weight: 400;
    text-transform: uppercase;
    line-height: 1.1;
}
.card{
    border: none;
    margin-top: 150px;
}

a{
    color: red;
}
