.header1{
    // 
text-align: center;

    
}
.card{
    border-radius: 10px;
    border: 1px solid #D9D9D9;
    box-shadow: 0px 4px 4px rgb(0, 0, 0, 0.25);
    margin: 0px 0px 40px 12px;
    
}
.card img{
    border-radius: 10px;
    transition: 0.3s ease-in-out;
    height: 250px;
}
@media screen and (max-width: 576px) {
    .card img{

        height: 150px;
    }
}

.card img:hover{
     transition: 0.2s ease-in-out;
     transform:scale(1.1) ;
}

.card-title{
    font-family: 'Hind Siliguri', sans-serif;
    font-weight:400;
    font-size: 15px;
    height: 50px;
   }

.card-desc{
    font-family: 'Hind Siliguri', sans-serif;
    font-size: 10px;
    color: #7E7E7E;
   }


.card-price{
    font-family: 'Hind Siliguri', sans-serif;
    font-size: 15px;
    font-weight:300;
    color: #D27C2C;     
}


//HOVER TEXT EFFECT

.hovertext{
    position: relative; 
      
}



.hovertext:before {
    content: attr(data-hover);
    left: 30px;
    visibility: hidden;
    opacity: 0;
    width: 140px;
    background-color: #D27C2C;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    padding: 5px 0;
    transition: opacity 1s ease-in-out;
  
    position: absolute;
    z-index: 1;
    left: 0;
    top: 110%;
  }
  
  .hovertext:hover:before {
    opacity: 1;
    visibility: visible;
  }
  
  .back-to-top.active {
    visibility: visible;
    opacity: 1;
}
.back-to-top {
    position: fixed;
    visibility: hidden;
    opacity: 0;
    font-size: 20px;
    background-color: grey;
    color: white;
    right: 15px;
    bottom: 15px;
    z-index: 996;
    width: 40px;
    height: 40px;
    border-radius: 50px;
    transition: all 0.4s;
}
.n{
    width: 100%;
    background-color: #D27C2C;
    height: 40px;

}