
  <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-arrow-left" routerLink="/products"
    viewBox="0 0 16 16">
    <path fill-rule="evenodd"
      d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z" />
  </svg>



<h4>Details</h4>

<div class="card" style="width: 20rem">
  <img src="../../../assets/shoes1.jpeg" class="card-img-top" alt="..." />
  <div class="card-body">

    <div class="d-flex justify-content-end">
      <div class="mr-auto p-2"> </div>

      <div class="p-2"></div>
    </div>

    <div class="d-flex justify-content-between w-100">
      <p class="card-title nike-shoe"> Nike Airforce one</p>
      <p class="price el-price">R 2300.00 </p>
    </div>

   

    <p class="text-right">Description </p>
    <p class="card-text">
      Some quick example text to build on the card title and make up the bulk of
      the card's content.
    </p>
  
    
  </div>

  <div class="row m-1">
    <div class="col mx-2">
      <div class="dropdown col">
        <a class="btn btn-secondary dropdown-toggle btn-sm" href="#" role="button" id="dropdownMenuLink"
          data-bs-toggle="dropdown" aria-expanded="false">
          Select Size
        </a>
  
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
          <li>1</li>
          <li>2</li>
          <li>3</li>
          <li>4</li>
          <li>5</li>
          <li>6</li>
  
        </ul>
      </div>
    </div>
    <div class="col">
      <button type="button" class="btn btn-secondary  btn-sm" routerLink="/cart">Add To Cart</button>
    </div>
  </div>
</div>