<div class="container-fluid">
  <div class="navbar bg-base-100">
    <div class="flex-1">
      <a routerLink="/products" class="btn btn-ghost normal-case text-xl" id="logo">SNEAKER WEAR</a>
    </div>
    <div class="flex-none">
      <ul class="menu menu-horizontal p-0">
        <li (click)="loading = !loading" *ngIf="this.auth.isLoggedIn" routerLink="/orders"><a>Orders</a></li>
         <!-- <li *ngIf="this.auth.isLoggedIn" routerLink="/userprofile"><a>Profile</a></li>  -->
        <li *ngIf="!this.auth.isLoggedIn" routerLink="/login"><a class="log">Login</a></li>
        <li *ngIf="!this.auth.isLoggedIn" routerLink="/register"><a >Register</a></li>
        <li>
          <a style="text-decoration: none;" routerLink="/cart"><i  class="fa-solid fa-cart-shopping fa-2x"  ></i>
            <div class="total">{{totalNumber}}</div>
          </a>
        </li>
        <li *ngIf="this.auth.isLoggedIn" class="user"><a >
            <img alt="avatar" src="../../../assets/profile_pic.png" class="rounded-circle align-self-center mr-4" style="width: 30px;">
            <svg class="fill-current" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24"><path d="M7.41,8.58L12,13.17L16.59,8.58L18,10L12,16L6,10L7.41,8.58Z"/></svg>
          </a>
          <ul class="dopdown" >
            <li><h5>{{fullname}}</h5></li>
            <li><p>{{email}}</p></li>
          
            <li><a (click)="Logout()" *ngIf="this.auth.isLoggedIn">Logout</a></li>
          </ul> 
        </li>
      
      </ul>
    </div>
  </div>
</div>

